{% extends 'dashboard/base.html' %}
{% block content%}
{% load static %}

<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'term' %}">Terms Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Term</li>
        </ol>
      </nav>
    <h2> {{ term.season }} {{ term.year }}</h2>
    <div class="list-group list-group-flush">
        {% for week, solved, incorrect in weeks %}
            {% if week != 0 %}      
                <a href="{{ week }}"  class="list-group-item">
                    <h1> Week {{ week }}</h1>
                    
                    <div class="progress">
                    
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ solved }}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ incorrect }}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </a>
            {% endif %}
        
        {% endfor %}
    </div>
</body>

{% endblock %}